h1{
    text-shadow: 3px 3px 3px red, 15px 15px 15px green;
}
.box{
    background-color: aqua;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 15px green,-15px -15px 15px brown;
    color: red;
}
.boxdiv{
    margin: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px black,-1px -1px black;
}